@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat&display=swap');

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 8em;
  text-align: center;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 5.5em;
  text-align: center;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 4.5em;
  font-weight: 700;
}

h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 3.5em;
}

.toppings-price {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.5em;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}